.header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.3rem 10rem;
    border-bottom: 10px solid #eee;
    height: 100px;
}
.show{
    display: none;
}
.chat__header__logo{
    width: 30px;
    height: 30px;
}
.header__name{
    display: flex;
    flex-direction: row;
}
.chat__header__username{
    margin-top: 2rem;
    font-weight: bold;
}
.chat__header__usernametext{
    margin-right: 10px;
}
.chat__header__dropdown{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}
/* 
.chat__header__dropdown{
    position: absolute;
    top: 80px;
    right: 15px;
} */
.chat__header__dropdown__hide{
    display: none;
}
.chat__header__dropdown__show{
    display: block;
    position: relative;
    bottom: auto;
}
.chat__header__dropdownbtn{
    width: 20px !important;
    height: 20px !important;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px){
    .header__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .show{
        display: block !important;
    }
    .chat__header__usernametext{
        font-size: 12px;
        padding-right: 10px;
        margin: 0;
    }
    .header__text{
        font-size: 18px;
    }
    body{
        padding: 10px;
    }
    .chat__header__dropdownbtn{
        margin-bottom: 30px;
    }
    .chat__header__dropdown{
        position: absolute;
        top: 80px;
        right: 15px;
    }
    .hamb{
        cursor: pointer;
        float: right;
        padding: 40px 20px;
        position: absolute;
        top: 50px;
        left: 0px;
    }/* Style label tag */
    
    .hamb-line {
        background: #000;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;
    
    } /* Style span tag */
    
    .hamb-line::before,
    .hamb-line::after{
        background: #000;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .hamb-line::before{
        top: 5px;
    }
    .hamb-line::after{
        top: -5px;
    }
    .close__sidebar{
        position: absolute;
        font-size: 20px;
        font-weight: 600;
        top: 80px;
        left: 25px;
    }
}
/* @media screen and (min-width: 800px){
    .header__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0.3rem 10rem;
        border-bottom: 10px solid #eee;
        height: 100px;
        border: 10px solid green;
    }
} */